@model ManageOnline.Models.UserBasicModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header">
            <h2>Zmiana hasła</h2>
        </div>
        <div class="card-body">
            <div class="form-horizontal col-4">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UserId)
                <h5>Stare hasło</h5>
                <input name="confirmOldPassword" id="confirmOldPassword" style="margin-bottom:20px;" />
                <h5>Nowe hasło</h5>
                <input name="newPassword" id="newPassword" style="margin-bottom:20px;" />
                <h5>Potwierdź nowe hasło</h5>
                <input name="confirmNewPassword" id="confirmNewPassword" style="margin-bottom:20px;" />
                <br />
                    <strong><h4>@ViewBag.MessageInfoRight@ViewBag.MessageInfoWrong</h4></strong>
                <div class="form-group">
                    <div>
                        <input type="submit" value="Zmień hasło" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

