@model ManageOnline.Models.UserBasicModel

@{
    ViewBag.Title = "ChangePasswordAdmin";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<div class="card">
    <div class="card-header bg-dark text-white text-center"><h1><b>Zmiana hasła administratora</b></h1></div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal col-4">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UserId)
                <h5>Stare hasło</h5>
                <input name="confirmOldPassword" id="confirmOldPassword" style="margin-bottom:20px;" />
                <h5>Nowe hasło</h5>
                <input name="newPassword" id="newPassword" style="margin-bottom:20px;" />
                <h5>Potwierdź nowe hasło</h5>
                <input name="confirmNewPassword" id="confirmNewPassword" style="margin-bottom:20px;" />
                <br />
                <strong><h4>@ViewBag.MessageInfoRight@ViewBag.MessageInfoWrong</h4></strong>
                <div class="form-group">
                    <div>
                        <input type="submit" value="Zmień hasło" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>