@model ManageOnline.Models.UserBasicModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header">
            <h2>Zmiana hasła</h2>
        </div>
        <div class="card-body center">
            <div class="form-horizontal row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UserId)
                <div class="col-3">
                    <h5>Stare hasło</h5>
                    <input name="confirmOldPassword" id="confirmOldPassword" type="password" style="margin-bottom:20px;" />
                </div>
                <div class="col-3">
                    <h5>Nowe hasło</h5>
                    <input name="newPassword" id="newPassword" type="password" style="margin-bottom:20px;" />
                </div>
                <div class="col-3">
                    <h5>Potwierdź nowe hasło</h5>
                    <input name="confirmNewPassword" id="confirmNewPassword" type="password" style="margin-bottom:20px;" />
                </div>
                <br />
                <strong><h4>@ViewBag.MessageInfoRight@ViewBag.MessageInfoWrong</h4></strong>
                <div class="form-group">
                    <div class="col-3">
                        <div>                            
                            <input type="submit" style="margin-top:20px;"value="Zmień hasło" class="btn btn-primary " />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

