@model ManageOnline.Models.UserBasicModel

@{
    ViewBag.Title = "ProfileDetails";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
@Html.HiddenFor(x => x.UserId)
@using (Html.BeginForm())
{

<div class="card">
    <div class="card-header bg-info"><h2>Informacje o @Model.Username</h2></div>
    <div class="card-body">
       
    </div>
</div>
    @Html.Action("ProjectsFromPortfolioSelectedUser", "ProjectPortfolio", new { userId = Model.UserId })
    @Html.Action("UserRates","Rate", new { userId = Model.UserId})
}


