@model ManageOnline.Models.UserBasicModel

@{
    ViewBag.Title = "ProfileDetails";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>ProfileDetails</h2>

@using (Html.BeginForm())
{
    @Html.DisplayFor(model => model.Username)
    @Html.DisplayFor(model => model.UserId)
}


