@{
    ViewBag.Title = "Home Page";
}

<div class="card text-white bg-info" style="margin: 0 auto; width: 50%; height: 50%">
    <div class="card-title">Sample card</div>
    <div class="card-body">siemanko ryje</div>
</div>