<li class="btn-group nav float-right mr-2">
    <button type="button" onclick="location.href = '@Url.Action("DashboardIndex", "Dashboard")'" class="btn navbar-btn text-bold text-white" style="background-color: forestgreen">Aktualności<span class="badge badge-light">@ViewBag.NotificationsNotSeenCount</span></button>
</li>
