@using ManageOnline.Models

@{
    ViewBag.Title = "DashboardIndex";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>Dashboard</h2>

@if (Session["UserId"] != null)
{
    <h4>hello @Session["Username"].ToString() bleble  @ViewBag.UserName</h4>
    <input data-role="rating"
           data-value="3"
           data-star-color="cyan"
           data-stared-color="pink">

    <div>
        @{ Html.RenderPartial("~/Views/Task/_addTask.cshtml", new TaskModel()); }
    </div>
   
}

