
@{
    ViewBag.Title = "DashboardIndex";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>Dashboard</h2>

@if (Session["UserId"] != null)
{
    <h4>hello @Session["Username"].ToString() bleble  @ViewBag.UserName</h4>
}
<asp:textbox></asp:textbox>
