
<li class="btn-group nav float-right mr-2">
    <button type="button" onclick="location.href = '@Url.Action("ShowReceivedMessages", "Messages")'" class="btn navbar-btn text-bold text-white" style="background-color: forestgreen">Wiadomości<span class="badge badge-light">@ViewBag.messageNotSeenCount</span></button>
</li>