@model IEnumerable<ManageOnline.Models.ProjectModel>

@{
    ViewBag.Title = "ShowYourProjects";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row justify-content-md-center " style="margin-top: 30px">
    <h2 class="text-bold">Naciśnij, aby przejść do sekcji z twoimi projektami</h2>
</div>
<center>
    <div class="btn-group btn-group-vertical" style="margin-top: 30px">
        <a onclick="location.href = '@Url.Action( "ShowProjectsWaitingForOffers", "Project")'" class="btn btn-primary btn-lg mt-3 text-white text-bold" style="width:100%">Pokaż projekty oczekujące na wybranie oferty</a>
        <a onclick="location.href = '@Url.Action("ShowProjectsInProgress", "Project")'" class="btn btn-primary btn-lg mt-3 text-white text-bold" style="width:100%">Pokaż projekty w trakcie</a>
        <a onclick="location.href = '@Url.Action("ShowProjectsFinished", "Project")'" class="btn btn-primary btn-lg mt-3 text-white text-bold" style="width:100%">Pokaż zakończone projekty</a>
    </div>
</center>
