
@{
    ViewBag.Title = "SuccessfulAdmitProject";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="alert alert-success" role="alert" style="margin-top:50px">
    <h4 class="alert-heading">Oferta została wybrana</h4>
    <p>Gratulację! Wybrałeś zespół, który wykona twój projekt. </p>
    <hr />
    <p>Przejdź do rubryki @Html.ActionLink("Moje Projekty", "ShowYourProjects", "Project", new { id = Convert.ToInt32(HttpContext.Current.Session["UserId"]) }, null), aby zobaczeć wszystkie projekty w których bierzesz udział.</p>
</div>
