
@{
    ViewBag.Title = "SuccessfullAddOffer";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="alert alert-success" role="alert" style="margin-top:50px">
    <h4 class="alert-heading">Sukces!</h4>
    <p>Gratulację! Twoja oferta została dodana do projektu. Teraz oczekuj na wybranie wykonawcy przez klienta. </p> 
</div>

